.team{
   background:#F4F6F7;
   height:100%;
   padding-top: 1em;
 }

.team-centered{
  width:100%;
  margin:auto;
  display:block;
}

.team-information{
  text-align: center;
}

.team-first{
  color:#828F97;
  font-size: 3vw;
  font-weight: normal;
}

.team-first-sub{
  color:#5792B5;
  font-size: 2vw;

}

.team-desc{
  padding-top: 2em;
  width:70%;
  margin:auto;
  display:block;
  text-align: center;

}

.team-box-center{
  padding-top: 2em;
}

.team-ceo-center{
  padding-top:4em!important;
}
.team-box{
  padding: 1em;
  height:100%;
}

.team-box-info{
  color:#828F97;
}

.team-ceo{
  background: white;
}

.team-ceo-style{
  background: white;
  margin: 0 !important;
  padding:0!important;
  height:300px;
}