$primaryRed: linear-gradient(to right, #C4161C 80%, #9D1216 50%);
$primaryGrey: linear-gradient(to right, #828F97 80%, #69737A 50%);

.caption {
  position: absolute;
}

.bannerSize{
  width:100%;
}

.per, .biz{
  color:white!important;
}

.per{
  background: $primaryRed!important;
}

.biz{
  background: $primaryGrey!important;
}

.banner-button-desktop{
  display: flex;
  justify-content: center;
  margin-top: -8.5vw;
  color:white!important;
}

.banner-button-tablet{
  display: flex;
  justify-content: center;
  margin-top: -11vw;
  color:white!important;
}

.banner-per{
  float:right;
}

.banner-per, .banner-biz{
  margin: 1em!important;
  height: 4vw;
  width: 18vw;
}

@media screen and (min-width: 300px) {

  .slick-prev{
    display: none!important;
  }

  .slick-next{
    display: none!important;
  }

  .caption {
    font-size:20px;
    top: 2rem;
    text-align: left;
    background:rgba(255,255,255,0.8);
  }

  .bannerSize{
    height:190px
  }

  .banner-button-mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .banner-per, .banner-biz{
      margin: 0!important;
    }

    .no-padding-right{
      padding-right:0!important;

    }
    .no-padding-left{
      padding-left:0!important;
    }
    .banner-per, .banner-biz{
      width:100%;
      border-radius: 0 !important;
    }
  }

  .banner-per, .banner-biz{
    height: 15vw;
  }

  .right-arrow-loan-mobile{
    top: 25%;
    position: relative;
  }
}

@media screen and (min-width: 321px) {

  .banner-per, .banner-biz{
    height: 12vw;
  }

  .right-arrow-loan-mobile{
    top: 0;
    position: unset;
  }
}

@media only screen and (min-width : 500px) {

  .slick-prev{
    left:3rem!important;
    display: block!important;
    z-index: 99;
  }

  .slick-next:before, .slick-prev:before {
    font-size: 28px!important;
  }

  .slick-next{
    right:3rem!important;
    display: block!important;
    z-index: 99;
  }

  .caption {
    font-size:25px;
    top: 5rem;
    background:transparent;
  }

  .bannerSize{
    height:auto
  }

  .banner-per, .banner-biz{
    width:50%;
    border-radius: 0 !important;
  }

}

@media (min-width: 768px) and (max-width: 1280px) {
  .banner-biz, .banner-per{
    width: 250.56px;
    height: 45.95px;
  }

  .caption {
    font-size:30px;
    top: 2.5rem;
  }
}

@media (min-width: 1281px){
  .bannerSize{
    height:680px
  }

  .banner-button{
    margin-top: -10vw;
  }

  .caption {
    font-size:2.8vw;
    top: 4rem;
  }

  .banner-biz, .banner-per{
    width: 300.56px;
    height: 60.95px;
  }

  .right-arrow-loan-desktop{
    left: 0.8vw;
    position: relative;
  }

  .right-arrow-desktop{
    left: 0.8vw;
    position: relative;
  }

}

