.contact-info{
  display: block;
  margin: auto;
  background: white;
  padding: 2em;
  color:#828F97;
}



.contact-label{
  color:black;
  font-weight: bold;

}

.contact-icon{
  margin-left: 5px;
  background: #F4F6F7;
  color: #F88C90;
  font-size: 1.3em;
  padding: 0.3em;
}

.contact-button{
  display:block!important;
  margin:auto!important;
  color:#C4161C!important;
  border-color:#C4161C!important;
}

@media screen and (min-width: 300px) {
  .contact-mobile{
    padding-top:3.4em;
  }
  .contact-info{
    font-size:3.5vw;
  }
}

@media only screen and (min-width : 500px) {
  .contact-mobile{
    padding-top:0em;
  }
  .contact-info{
    font-size:2vw;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
}