$primaryRed: #C4161C;

.pillars{
  margin-bottom:2em;
}

.pillars-round{
  display:block;
  margin:auto;
  border-radius: 5em!important;
  background-color: #FDF2F2!important;
}

.pillarSize{
  display:block;
  margin:auto;
  width: 63%;
  padding-top: 1.2em;
}

.pillars-subtitle{
  text-align: center;
}

.pillar-button-desktop, .pillar-button-tablet, .pillar-button-mobile{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:1vw;
}

.pillar-desktop, .pillar-tablet, .pillar-mobile{
  color:$primaryRed!important;
  border-color:$primaryRed!important;
}

@media screen and (min-width: 300px) {
  .pillars-round{
    width: 5em;
    height: 5em;
  }

  .pillars-subtitle{
    font-size:3.5vw;
  }
}

@media only screen and (min-width : 500px) {
  .pillars-round{
    width: 134px;
    height: 134px;
  }
  .pillars-subtitle{
    font-size:1.2em;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .pillars-round{
    width: 90px;
    height: 90px;
  }

  .pillars-subtitle{
    font-size:1em;
  }
}