.button-promo-per{
  color: #ffffff !important;
  background: #C4161C!important;
}

.button-promo-biz{
  font-size: 1.6vw!important;
  margin-left:2em!important;
  color:#C4161C!important;
  background: #fff!important;
}

@media screen and (min-width: 300px) {
  .promoBannerSize {
    width: 100%;
    height: 10em;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.4);
  }

  .promoIntro {
    margin: -12em 4em 0 4em;
    color: white;
    padding-top: 17%;
      h2{
        font-size: 15px;
        font-weight: 500;
      }
      h3{
        font-weight: normal;
        font-size: 13px;
      }
  }
}

@media only screen and (min-width : 500px) {
  .Promo{
    padding-bottom:5em;
  }

  .promoBannerSize{
    height:auto;
    width:100%;
  }

  .promoIntro{
    font-size: 1.8vw;
    color: white;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .Promo{
    padding-bottom:5em;
  }

  .promoIntro{
    padding-top: 5%;
    margin: -12.5em 4em 0 4em;
    color: white;
    h2{
      font-size: 22px;
      font-weight: 500;
    }
    h3{
      font-weight: normal;
      font-size: 18px;
    }
  }

  .button-promo-per{
    font-size: 14px !important;
    padding: 0.5em 2em !important;
  }

  .button-promo-biz{
    font-size: 14px !important;
    padding: 0.5em 2em !important;
    margin-left:2em!important;
  }
}

@media (min-width: 1281px){
  .Promo{
    padding-bottom: 10em;
  }

  .promoIntro{
    padding-top: 3%;
    margin: -12.5em 4em 0 4em;
    color: white;
    h2{
      font-size: 33px;
      font-weight: 500;
    }
    h3{
      font-weight: normal;
      font-size: 25px;
    }
  }

  .button-promo-per{
    font-size: 16px !important;
    padding: 0.5em 3em !important;
  }

  .button-promo-biz{
    font-size: 16px !important;
    padding: 0.5em 3em !important;
    margin-left:2em!important;
  }
}


@media (min-width: 1450px){
  .Promo{
    padding-bottom: 9vw;
  }

  .promoIntro{
    padding-top: 5%;
    margin: -12.5em 4em 0 4em;
    color: white;
    h2{
      font-size: 40px;
      font-weight: 500;
    }
    h3{
      font-weight: normal;
      font-size: 25px;
    }
  }

  .button-promo-per{
    font-size: 18px !important;
    padding: 0.6em 3em !important;
  }

  .button-promo-biz{
    font-size: 18px !important;
    padding: 0.6em 3em !important;
    margin-left:2em!important;
  }
}
