.app{
  position:fixed;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background:rgba(255,255,255,0.5);

  overflow-y:scroll;
}

/*.slick-list {*/
  /*z-index: -1;*/
/*}*/

.caption {
  font-size: 4vw;
  position: absolute;
}

.bannerSize{
  width:100%;
}

.pillars{
  margin:0.8em;
}

h1{
  color:#C4161C;
  text-align: center;
  font-size: 3vw!important;
}

.bank h1{
  color:#828F97;
}

.pillars{
  padding:1em;
  margin-bottom:5em;
  height:auto;
}

.pillars-round{
  display:block;
  margin:auto;
  border-radius: 5em!important;
  background-color: #FDF2F2!important;
}

.pillarSize{
  display:block;
  margin:auto;
  width: 80%;
}

.pillarSize-big{
  display:block;
  margin:auto;
  width: 65%;
}

.pillars-subtitle{
  text-align: center;
}

.pillars-button{
  display:block!important;
  margin:auto!important;
  top:5em;
  color:#C4161C!important;
  border-color:#C4161C!important;
}

.service-size{
  width:100%;
}

.service-square{
  width:100%;
  height: 170px;
}

.button-promo-per{
  font-size: 1.6vw!important;
  color: #ffffff !important;
  background: #C4161C!important;
  padding: 0.7em!important;
}

.button-promo-biz{
  font-size: 1.6vw!important;
  margin-left:2em!important;
  color:#C4161C!important;
  background: #fff!important;
  padding: 0.5em!important;


}

@media screen and (min-width: 300px) {

  .no-padding{
    padding:0!important;
    flex-basis: unset!important;
  }

  .bannerSize{
    height:190px
  }

  .bankLogoSize{
    height:100%;
    width:100%;
  }

  .pillars{
    padding-top:1em;
  }

  h1{
    color:#C4161C;
    text-align: center;
    font-size: 6vw!important;
  }

  .pillars-round{
    width: 5.1em;
    height: 5.1em;
  }

  .pillars-subtitle{
    text-align: center;
    padding-top: 0.5em;
    font-size:0.8em;
  }

  .pillarSize{
    padding-top: 1em;
  }

  .pillarSize-big{
    padding-top: 0.7em;
  }

  .pillar-divider{
    width:100%;
    height:4em;
  }

  .service {
    padding-top: 0.8em;
    background-color: #F4F6F7;
    height: auto;
    margin-bottom: 3em;
  }

  .service-subtitle{
    top:-6em;
    position:relative;
    font-size: 5vw;
    text-align: center;
    color:white;
    font-weight: bold;
  }

  .bank {
    height: auto;
    margin-bottom: 5em;
  }

  .caption {
    margin-left: 1.4rem;
    top: 2rem;
    background:rgba(255,255,255,0.5);
    padding:15px;
  }

  .slick-prev{
    display: none!important;
  }

  .slick-next{
    display: none!important;
  }

  .header-button{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99;
  }

  .header-button-grid{
    padding:12px 0!important;
  }

  .button-header{
    width:100%;
    height:3rem!important;
    color:white!important;
    padding: 0px!important;
    border: none!important;
    font-size: 1.6vh;
    border-radius: 0!important;
  }

  .button-header-per{
    background-color:#C4161C!important;
    margin-left: 12px!important;
  }

  .button-header-biz{
    background-color:#828F97!important;
    margin-right: 12px!important;
  }

  .header-button-left{
    display: flex;
    justify-content: flex-end;
    box-shadow: none!important;
    justify-content: flex-end;
    background-color:transparent!important;
  }

  .header-button-outer{
    height:3rem;
    padding-top:0.8rem!important;
    background:rgba(000,000,000,0.5)!important;
  }

  .header-button-right{
    display: flex;
    box-shadow: none!important;
    justify-content: flex-start;
    background-color:transparent!important;
  }
}

@media only screen and (min-width : 500px) {
  .slick-prev{
    left:3rem!important;
    display: block!important;
  }

  .slick-next:before, .slick-prev:before {
    font-size: 28px!important;
  }

  .slick-next{
    right:3rem!important;
    display: block!important;
  }

  .bannerSize{
    height:auto
  }

  .promoIntro{
    position:relative;
    left:2em;
    top:10em;
    font-size: 2vw;
    color: white;
  }



  .pillars{
    padding-top:0;
  }

  .pillars h1{
    font-size: 2em;
  }

  .pillars-round{
    width: 134px;
    height: 134px;
  }

  .pillarSize{
    padding-top: 1.6em;
  }

  .pillarSize-big{
    padding-top: 1em;
  }

  .pillar-divider{
    width:0;
    height:0;
  }

  .service {
    padding:1em;
    padding-bottom:8em;
    background-color: #F4F6F7;
  }

  .service-square{
    width: 22vw;
    height: 22vw;
  }

  .service-subtitle{
    margin-top:-4em;
    font-size: 1.4vw;
    text-align: center;
    color:white;
    font-weight: bold;
  }

  .caption {
    margin-left: 6rem;
    font-size: 2.5vw;
    position: absolute;
    top: 5rem;
    background:transparent;
  }

  .header-button-grid{
    padding:12px !important;
  }

  .header-button{
    position: relative;
    top: -7em;
  }

  .button-header{
    width:21vw;
    height: 6vh!important;
    color:white!important;
    padding: 0px!important;
    border: none!important;
    font-size: 1.6vh!important;
  }

  .button-header-per{
    background-color:#C4161C!important;
  }

  .button-header-biz{
    background-color:#828F97!important;
  }

  .header-button-left{
    display: flex;
    box-shadow: none!important;
    justify-content: flex-end;
    background-color:transparent!important;
  }

  .header-button-outer{
    height:6vh!important;
    padding-top:0.7em!important;
    background:rgba(000,000,000,0.5)!important;
  }

  .header-button-right{
    display: flex;
    box-shadow: none!important;
    justify-content: flex-start;
    background-color:transparent!important;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {

  .caption {
    top: 4rem;
  }

  .button-header{
    height: 4.5vh!important;
    font-size: 1.3vh!important;
  }

  .header-button-outer{
    height: 4.5vh!important;
    padding-top:0.85em!important;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  .caption {
    top: 4rem;
  }

  .button-header{
    height: 6.5vh!important;
    font-size: 2.1vh!important;
  }

  .header-button-outer{
    height: 6.5vh!important;
  }
}

