.NavBar-header-4 {
  position: relative!important;
}

.footer{
  background:black;
  color:white;
}


.footer-info{
  width: 80%;
  height: 100%;
  display: block;
  margin: auto;
  text-align: center;
}

@media screen and (min-width: 300px) {

  h1{
    color:#C4161C;
    text-align: center;
    font-size: 6vw;
  }

}


@media only screen and (min-width : 500px) {
  h1{
    color:#C4161C;
    text-align: center;
    font-size: 3.5vw;
  }

}

